@using System.Data.Entity
@using SimpleTodo.Models
@model TodoItem

@{
    ViewBag.Title = "Todos";
}

<h2>Todo Lists</h2>

@using (Html.BeginForm("CreateTodo", "Home"))
{
    <div class="editor-field">
        @Html.TextBoxFor(m => Model.Content) <input type="submit" value="Create"/>
    </div>
}

@using (Html.BeginForm("TodoAction", "Home"))
{
    <div>
        <fieldset>
            <legend>Pending</legend>
            @foreach (var todoItem in (DbSet<TodoItem>) ViewBag.TodoList)
            {
                <p>
                    @if (todoItem.Status == "Pending")
                    {
                        @Html.CheckBox(todoItem.Id.ToString("d"), false) @todoItem.Content
                    }
                </p>
            }
        </fieldset>
        <fieldset>
            <legend>In Progress</legend>
            @foreach (var todoItem in (DbSet<TodoItem>) ViewBag.TodoList)
            {
                <p>
                    @if (todoItem.Status == "Doing")
                    {
                        @Html.CheckBox(todoItem.Id.ToString("d"), false) @todoItem.Content
                    }
                </p>
            }
        </fieldset>
        <fieldset>
            <legend>Complete</legend>
             @foreach (var todoItem in (DbSet<TodoItem>) ViewBag.TodoList)
            {
                <p>
                    @if (todoItem.Status == "Done")
                    {
                        @Html.CheckBox(todoItem.Id.ToString("d"), false) @todoItem.Content
                    }
                </p>
            }
        </fieldset>
        <p>
            <input type="submit" name="button" value="Promote" />
            <input type="submit" name="button" value="Delete" />
        </p>
    </div>
}