@model SimpleTodo.Models.Context

@{
    ViewBag.Title = "Todos";
}

<h2>Todo Lists</h2>

@using (Html.BeginForm("PromoteTodo", "Home"))
{
    <div>
        <p>@Html.ActionLink("Create Todo", "CreateTodo")</p>
        <fieldset>
            <legend>Pending</legend>
            @foreach (var todoItem in Model.GetTodos())
            {
                <p>
                    @Html.RadioButtonFor(s => s.SelectedTodo, todoItem.Id)
                    @todoItem.Content
                </p>
            }
        </fieldset>
        <fieldset>
            <legend>In Progress</legend>
            @{var doing = Model.GetDoing();}
            @if(doing != null)
            {
                var timeinprogress = DateTime.Now - doing.Updated;
                <p>
                    @Html.RadioButtonFor(s => s.SelectedTodo, doing.Id)
                    @doing.Content - in progress for 
                    @timeinprogress.ToString("hh") :
                    @timeinprogress.ToString("mm") :
                    @timeinprogress.ToString("ss")
                </p>
            }
        </fieldset>
        <input type="submit" value="Promote" />
    </div>
}