@model SimpleTodo.Controllers.HomeController.TodoListViewModel

@{
    ViewBag.Title = "Todos";
}

<div class="page-header">
    <h1>Todo Lists</h1>
</div>

@using (Html.BeginForm("PromoteTodo", "Home"))
{
    <div>
        <p>@Html.ActionLink("Create Todo", "CreateTodo", null, new {@class="btn btn-primary"})</p>
        <fieldset>
            <legend>Pending</legend>
            @if (!Model.NotStarted.Any())
            {
                <p>They are no todo list items yet.  Why doncha make one?</p>
            }
            else
            {
                foreach (var todoItem in Model.NotStarted)
                {
                    <p>
                        @Html.RadioButton("SelectedTodo", todoItem.Id)
                        @todoItem.Content
                    </p>
                }
            }
            
        </fieldset>
        <fieldset>
            <legend>In Progress</legend>
            @{var doing = Model.InProgress;}
            @if (doing != null)
            {
                var timeinprogress = DateTime.Now - doing.Updated;
                <p>
                    @Html.RadioButton("SelectedTodo", doing.Id)
                    @doing.Content - in progress for 
                    @timeinprogress.ToString("hh") :
                    @timeinprogress.ToString("mm") :
                    @timeinprogress.ToString("ss")
                </p>
            }
        </fieldset>
        <input type="submit" value="Promote" />
    </div>
}